.categoria {

}

.categoria-titulo {

}

.categoria-lista {
  display: flex;
  overflow: hidden;
}

.categoria-lista img {
  height: 200px;
  transform: scale(0.9);
  transition: ease 0.2s;
  border-radius: 20px;
  cursor: pointer;
}

.categoria-lista img:hover {
  transform: scale(1);
}

.botao-lista {
  position: sticky;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.categoria-esquerda {
  left: 0;
}

.categoria-direita {
  right: 0;
}

.icone {
  transform: scale(0.9);
  transition: ease 0.2s;
}

.icone:hover {
  transform: scale(1.2);
}